<GridLayout rows="*, auto, *" style="background-color: #3d5afe; color: white;">
    <StackLayout row="1" class="form m-x-15 p-15" style="background-color: white;" borderRadius="5">
        <!-- Option 4: An input with a simple border and no label -->
        <Label style="color: #3d5afe" class="text-center p-b-5 h1" text="Social"></Label>
        <Label style="color: lightgray;" text="Cambio de Contraseña" class="text-center p-b-20 h3"></Label>
        <RadDataForm tkExampleTitle tkToggleNavButton [source]="passwordModel"
                     #dataForm
                     (propertyCommitted)="validarForm($event)"
                     style="color: black;"
                     commitMode="Immediate">
            <TKEntityProperty tkDataFormProperty
                              name="currentPassword"
                              imageResource="res://baseline_vpn_key_24"
                              displayName="Actual Contraseña"
                              index="0">
                <TKNonEmptyValidator tkEntityPropertyValidators
                                     errorMessage="*Obligatorio."></TKNonEmptyValidator>
                <TKMinimumLengthValidator tkEntityPropertyValidators
                                          errorMessage="Contraseña Actual debe tener por lo menos 4 caracteres."
                                          length="4"></TKMinimumLengthValidator>
                <TKMaximumLengthValidator tkEntityPropertyValidators
                                          errorMessage="Contraseña Actual no puede ser mayor de 50 caracteres."
                                          length="50"></TKMaximumLengthValidator>
                <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
            </TKEntityProperty>

            <TKEntityProperty tkDataFormProperty
                              name="newPassword"
                              imageResource="res://baseline_vpn_key_24"
                              displayName="Nueva Contraseña"
                              index="1">
                <TKNonEmptyValidator tkEntityPropertyValidators
                                     errorMessage="*Obligatorio."></TKNonEmptyValidator>
                <TKMinimumLengthValidator tkEntityPropertyValidators
                                          errorMessage="Contraseña debe tener por lo menos 4 caracteres."
                                          length="4"></TKMinimumLengthValidator>
                <TKMaximumLengthValidator tkEntityPropertyValidators
                                          errorMessage="Contraseña no puede ser mayor de 50 caracteres."
                                          length="50"></TKMaximumLengthValidator>
                <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
            </TKEntityProperty>

            <TKEntityProperty tkDataFormProperty
                              name="confirmPassword"
                              imageResource="res://baseline_vpn_key_24"
                              displayName="Confirmacion de Contraseña"
                              index="2">
                <TKNonEmptyValidator tkEntityPropertyValidators
                                     errorMessage="*Obligatorio."></TKNonEmptyValidator>
                <TKMinimumLengthValidator tkEntityPropertyValidators
                                          errorMessage="Contraseña de confirmación debe tener por lo menos 4 caracteres."
                                          length="4"></TKMinimumLengthValidator>
                <TKMaximumLengthValidator tkEntityPropertyValidators
                                          errorMessage="Contraseña de confirmación no puede ser mayor de 50 caracteres."
                                          length="50"></TKMaximumLengthValidator>
                <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
            </TKEntityProperty>

        </RadDataForm>
        <GridLayout columns="*, auto" orientation="horizontal" class="m-t-15">
            <Button [isEnabled]="formValidacion" col="1" class="btn btn-primary btn-active text-capitalize font-weight-bold" text="Guardar" (tap)="changePassword()"></Button>
        </GridLayout>
    </StackLayout>
</GridLayout>
