<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!--<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>-->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <!--<ActionItem icon="res://navigation/menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>-->

    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>

    <GridLayout rows="*" columns="auto, *">
        <Label col="0" verticalAlignment="center" textAlignment="center" class="action-bar-title p-l-5" text="Buscar"></Label>
    </GridLayout>

</ActionBar>
<GridLayout [visibility]="usuario ? 'visible' : 'collapsed'" rows="auto, auto, auto" style="background-color: lightgray;">
    <SearchBar #searchBar
               class="w-full"
               row="0"
               hint="Buscar..."
               [text]="searchPhrase"
               (textChange)="onTextChanged($event)"
               (submit)="onSubmit($event)"
               backgroundColor="#f5f5f5"
               color="black"
               borderRadius="5"
               textFieldBackgroundColor="white"
               textFieldHintColor="gray"></SearchBar>
    <ActivityIndicator row="1"
                       [busy]="searchingSpinnerFlag"
                       [visibility]="searchingSpinnerFlag ? 'visible' : 'collapsed'"
                       width="60" height="60"
                       class="activity-indicator p-b-30 m-t-20"></ActivityIndicator>
    <RadListView #myRadList
                 row="2"
                 class="list-group m-x-0"
                 selectionBehavior="Press"
                 (itemSelected)="onItemSelected($event)"
                 [items]="filteredProfiles">
        <ng-template tkListItemTemplate let-perfil="item" class="p-0 m-b-2">
            <StackLayout class="p-x-0 m-x-0" style="background-color: white">
                <StackLayout class="m-t-0"></StackLayout>
                <GridLayout class="list-group-item p-x-0 p-y-5" rows="auto" columns="auto, *">
                    <StackLayout width="85" col="0" row="0" verticalAlignment="center">
                        <Image class="postProfilePic"
                               stretch="aspectFill"
                               verticalAlignment="center"
                               horizontalAlignment="center"
                               style="height: 80; width: 80;"
                               [src]="perfil.profilePicUrlSanitized"></Image>
                    </StackLayout>
                    <StackLayout row="0" col="1" verticalAlignment="center">
                        <Label [text]="perfil.firstNameLastNameSpaced"
                               style="padding-left: 8"
                               fontSize="16"
                               verticalAlignment="center"></Label>
                        <GridLayout rows="auto" columns="auto, *" verticalAlignment="center">
                            <Button row="0"
                                    verticalAlignment="center"
                                    col="0"
                                    width="130"
                                    style="margin-left: 5"
                                    isEnabled="false"
                                    [visibility]="perfil.amigos ? 'visible' : 'collapsed'"
                                    text="Son Amigos"
                                    class="btn btn-primary btn-active text-capitalize font-weight-bold"></Button>
                            <Button row="0"
                                    col="0"
                                    verticalAlignment="center"
                                    style="margin-left: 5"
                                    width="130"
                                    isEnabled="false"
                                    [visibility]="perfil.envieSolicitud ? 'visible' : 'collapsed'"
                                    text="Solicitud Enviada"
                                    class="btn btn-primary btn-active text-capitalize font-weight-bold"></Button>
                            <Button row="0"
                                    col="0"
                                    verticalAlignment="center"
                                    style="margin-left: 5"
                                    width="130"
                                    [visibility]="perfil.envioSolicitud ? 'visible' : 'collapsed'"
                                    text="Aceptar Solicitud"
                                    (tap)="aceptarSolicitudBusqueda(perfil)"
                                    class="btn btn-primary btn-active text-capitalize font-weight-bold"></Button>
                            <Button row="0"
                                    col="0"
                                    verticalAlignment="center"
                                    style="margin-left: 5"
                                    width="130"
                                    [visibility]="!perfil.amigos && !perfil.envieSolicitud && !perfil.envioSolicitud ? 'visible' : 'collapsed'"
                                    text="Enviar Solicitud"
                                    (tap)="enviarSolicitudBusqueda(perfil)"
                                    class="btn btn-primary btn-active text-capitalize font-weight-bold"></Button>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr-light m-b-0"></StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
